---
import "../styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="it" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio Riccardo" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap"
        rel="stylesheet"
      />
      <!-- <script src="https://cdn.tailwindcss.com"></script> -->
      <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
      <script src="../script/navbar.js"></script>
	</head>
	<body class="bg-[#070A12] text-slate-100 font-sans antialiased relative overflow-hidden">

  <!-- glow principale -->
  <div class="pointer-events-none absolute inset-0
    bg-[radial-gradient(circle_at_top,rgba(56,189,248,0.35),transparent_55%)]">
  </div>

  <!-- glow secondario  -->
  <div class="pointer-events-none absolute inset-0
    bg-[radial-gradient(circle_at_bottom,rgba(147,197,253,0.18),transparent_60%)]">
  </div>
  <slot></slot>
</body>
</html>
